<h1>Telefon Al-Sat</h1>


<a href="#hakk覺m覺zda">Hakk覺m覺zda</a>
<a href="/phone_buy"> Telefon Al</a>
<a href="/phone_sell">Telefon Sat</a>
<a href="/user_profile"> Profil</a>
<a href="/" class="active"> Ana Sayfa</a>