<h1>Telefon Al-Sat</h1>


<a href="#hakkımızda">Hakkımızda</a>
<a href="/phone_buy"> Telefon Al</a>
<a href="/phone_sell">Telefon Sat</a>
<a href="/login_user"> Giriş yap</a>
<a href="/" class="active"> Ana Sayfa</a>