<!DOCTYPE html>
<html lang="tr">

<head>
    <%-include('./inc/head')%>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="navigation_bar.css">
        <title>Telefon Al-Sat</title>

</head>

<body>
    <div class="topnav">
        <%-include('./inc/nav_bar')%>
    </div>



    <div>
        <br>
        <div class="slideshow-container center">

            <div class="mySlides fade center">
                <div class="numbertext"></div>
                <img src="IPhone-X-Silver.jpg">
            </div>

            <div class="mySlides fade center">
                <div class="numbertext"></div>
                <img src="samsung2.jpg">
            </div>

            <div class="mySlides fade center">
                <div class="numbertext"></div>
                <img src="xiaomi.jpg">
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <script>
            let slideIndex = 0;
            showSlides();

            function showSlides() {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) {
                    slideIndex = 1
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                setTimeout(showSlides, 3000); // Change image every 2 seconds
            }
        </script>

    </div>


    <div class="center" style="padding:128px 16px" id="about">

        <h3>Eski ikinci el telefonlarınızı satmanız için veya başka kişilerden ikinci el telefon alabilmeniz için aracılık görevi görüyoruz.</h3>
        <br>
        <div>
            <div>
                <h3>Başlangıç</h3>
                <p>Öncelikle <a href="create_user"> hesap oluştur</a> butonuyla hesap oluşturun. Zaten hesabınız varsa <a href="login_user"> giriş yap</a> butonuyla giriş yapınız.</p>
            </div>
            <div>
                <h3>Sahibine Ulaşarak Telefon Almak İstiyorsanız</h3>
                <p>
                    <a href="phone_buy">Telefon almak</a> için butonuna tıklayarak gideceğiniz sayfadaki ilanlar arasında beğendiniz telefonun sahibine irtibat numarası aracılığıyla ulaşarak telefonu satın alabilirsiniz.</p>
            </div>
            <div>
                <h3>Telefonunuzu Satılık İlanına Koymak İstiyorsanız</h3>
                <p><a href="phone_sell">Telefon satmak</a> için butonuna tıklayarak gideceğiniz sayfada formu doldurarak ilan ekleyebilirsiniz.</p>
            </div>

        </div>
    </div>

</body>

</html>