<!DOCTYPE html>
<html lang="tr">

<head>
    <%-include('./inc/head')%>
        <link rel="stylesheet" href="/css/user.css">
        <link rel="stylesheet" href="/css/navigation_bar.css">
        <title>Giriş Yap</title>

</head>

<body>


    <div class="topnav">
        <%-include('./inc/nav_bar')%>
    </div>

    <div class="main-block-create">

        <form action="/login_user" , method="post">
            <h1>Giriş Yapın</h1>
            <hr>

            <hr>

            <input type="text" name="email" placeholder="Email" required/>
            <input type="password" name="password" id="password" placeholder="Şifre" required/>
            <p>Hesabınız yok mu? <a href="create_user">Kayıt Olun</a>.</p>

            <div class="btn-block">
                <button type="submit">Giriş Yap</button>
            </div>
            <%if(messages.error){%>
                <%=messages.error %>
                    <%} %>
        </form>

    </div>
</body>

</html>