<!DOCTYPE html>
<html lang="en">

<head>

    <%-include('./inc/head')%>
        <link rel="stylesheet" href="navigation_bar.css">
        <link rel="stylesheet" href="main.css">
        <title>Document</title>
</head>

<body>
    <div class="topnav">
        <%-include('./inc/nav_bar')%>
    </div>
    <section>
        <form action="/phone_sell_test" , method="post">
            <input type="text" , name="title" , placeholder="isim" required>
            <input type="text" , name="sort" , placeholder="Açıklama" required>
            <input type="text" , name="long" , placeholder="içerik" required>
            <input type="submit" , value="İlana Ekle">
        </form>
    </section>

</body>

</html>